<template>
  <div class="container">
    <div class="row">
      <div class="col-8 fruits">
        <div class="card" v-for="fruit of Allfruits" :key="fruit.nom">
          <img :src="fruit.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ fruit.nom }}</h5>
            <p>{{ fruit.prixHT }} € HT</p>
            <div class="input-group">
              <button type="button" class="btn btn-danger" @click="decrement(fruit)">-</button>
              <input type="text" class="form-control" v-model="fruit.quantite" readonly>
              <button type="button" class="btn btn-success" @click="increment(fruit)">+</button>
            </div>
            <button type="button" class="btn btn-primary" @click="addToCart(fruit)">Ajouter au panier</button>
          </div>
        </div>
      </div>
      <div class="col-4 panier">
        <h2>Panier</h2>
        <div v-for="(item, index) of panier" :key="index" class="panier-item">
          <div>{{ item.nom }}</div>
          <div>Quantité: {{ item.quantite }}</div>
          <div>Prix total: {{ item.prixTotal }} €</div>
        </div>
        <div v-if="panier.length === 0">Votre panier est vide</div>
        <div class="total-panier">Total du panier: {{ totalPanier }} €</div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { Fruit } from '@/entities';
import { ref, computed } from 'vue';

const Allfruits = ref<Fruit[]>([
  { image: 'https://media.istockphoto.com/id/1452520286/fr/vectoriel/vecteur-de-mangue-mangue-sur-fond-blanc-symbole-conception-du-logo-dessert-tha%C3%AFlandais.jpg?s=612x612&w=0&k=20&c=j5pqS2s_MMewRonU24wf-Hwb8TFFEKJQmyMwmVllZ4Q=', prixHT: 19, nom: 'Mangue', quantite: 0 },
  { image: 'https://media.gettyimages.com/id/1296379574/fr/vectoriel/fruit-rouge-de-framboise-disolement-sur-le-blanc.jpg?s=612x612&w=gi&k=20&c=fj5Eo1wtLdDS550ya4VO1iMn-uHic2QvBJnA6TGccl8=', prixHT: 9, nom: 'Framboise', quantite: 0 },
  { image: 'https://img.freepik.com/vecteurs-premium/regime-bananes-vecteur-illustration-dessin-anime_650087-313.jpg?w=2000', prixHT: 8, nom: 'Banane', quantite: 0 },
  { image: 'https://img.freepik.com/vecteurs-libre/pomme-rouge-isole-fond-blanc_1308-81536.jpg', prixHT: 19, nom: 'Pomme', quantite: 0 },
  { image: 'https://img.freepik.com/vecteurs-libre/illustration-dessin-anime-fruits-raisin-style-bande-dessinee-plat_138676-2877.jpg', prixHT: 7, nom: 'Raisin', quantite: 0 },
  { image: 'https://img.freepik.com/vecteurs-libre/illustration-orange-colore-dessine-main_53876-2977.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699142400&semt=ais', prixHT: 64, nom: 'Orange', quantite: 0 },
]);

const panier = ref<any[]>([]);

const increment = (fruit: Fruit) => {
  fruit.quantite++;
};

const decrement = (fruit: Fruit) => {
  if (fruit.quantite > 0) {
    fruit.quantite--;
  }
};

const addToCart = (fruit: Fruit) => {
  const existingItem = panier.value.find(item => item.nom === fruit.nom);
  if (existingItem) {
    existingItem.quantite++;
    existingItem.prixTotal = existingItem.quantite * fruit.prixHT;
  } else {
    panier.value.push({
      nom: fruit.nom,
      prixHT: fruit.prixHT,
      quantite: fruit.quantite,
      prixTotal: fruit.quantite * fruit.prixHT
    });
  }
};

const totalPanier = computed(() => {
  return panier.value.reduce((acc, item) => acc + item.prixTotal, 0);
});
</script>

<style scoped>
.container {
  display: flex;
  justify-content: space-around;
}

.fruits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 20px;
  width: 30%;
}

.panier {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 300px;
}

.panier-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.total-panier {
  font-weight: bold;
  margin-top: 10px;
}
</style>
