<template>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img :src="fruit.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ fruit.nom }}</h5>
                  <p>{{ fruit.prixHT }} € HT</p>
                  <div class="input-group">
                    <button type="button" class="btn btn-danger" @click="decrement">-</button>
                    <input type="text" class="form-control" v-model="quantity" readonly>
                    <button type="button" class="btn btn-success" @click="increment">+</button>
                  </div>
                  <button type="button" class="btn btn-primary" @click="addToCart">Ajouter au panier</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="panier">
                <h2>Panier</h2>
                <div v-for="(item, index) of panier" :key="index" class="panier-item">
                  <div>{{ item.nom }}</div>
                  <div>Quantité: {{ item.quantite }}</div>
                  <div>Prix total: {{ item.prixTotal }} €</div>
                </div>
                <div v-if="panier.length === 0">Votre panier est vide</div>
                <div class="total-panier">Total du panier: {{ totalPanier }} €</div>
              </div>
            </div>
          </div>
        </div>
      </template>
      
      <script setup lang="ts">
      import type { Fruit } from '@/entities';
      import { ref, defineProps, computed } from 'vue';
      
      const props = defineProps<{
        fruit: Fruit
      }>();
      
      const quantity = ref(0);
      
      const increment = () => {
        quantity.value++;
      };
      
      const decrement = () => {
        if (quantity.value > 0) {
          quantity.value--;
        }
      };
      
      const panier = ref<any[]>([]);
      
      const addToCart = () => {
        const item = {
          nom: props.fruit.nom,
          prixHT: props.fruit.prixHT,
          quantite: quantity.value,
          prixTotal: quantity.value * props.fruit.prixHT
        };
      
        panier.value.push(item);
      
        quantity.value = 0;
      };
      
      const totalPanier = computed(() => {
        return panier.value.reduce((acc, item) => acc + item.prixTotal, 0);
      });
      </script>
      
      <style scoped>
      .panier {
        border: 1px solid #ccc;
        padding: 10px;
      }
      .panier-item {
        margin-bottom: 10px;
      }
      .total-panier {
        font-weight: bold;
        margin-top: 10px;
      }
      </style>
      